@media screen and (max-width: 428px) {
    .container {
        max-width: 428px;
    }

    .mob-menu {
        justify-content: space-between;
        overflow: scroll;
        transform: translateX(0), translateY(100%);
    }

    .mob-menu-punkts:not(:last-child) {
        margin-bottom: 20px;
    }

    .social-mob {
        padding-top: 0;
    }

    .link-contakt-telefon {
        font-size: 26px;
    }

    .mob-menu-list {
        margin-top: auto;
    }

    .modal {
        width: 290px;
        left: 50%;
        top: 10%;
        transform: translateX(0), translateY(50%), scale(1);
    }

    .address {
        padding-bottom: 20px;
    }

    .checkbox-conteiner {
        margin-bottom: 14px;
        max-width: 250px;
    }

    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-mobile.jpg);
    }

    @media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-mobile-2x.jpg);
    }

}
}

@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    @media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tablet-2x.jpg);
    }
}

}

.social-mob {
    margin-top: auto;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .burger-open {
        display: none;
    }

    .mob-menu {
        display: none;
    }

    .menu {
        display: flex;
    }

    .contacts {
        font-size: 12px;
    }

    .address {
        display: flex;
    }

    .connect {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header {
        justify-content: center;
    }

    .head-conteiner {
        padding: 0;
    }

    .header-nav {
        justify-content: center;
        align-items: center;
        padding-right: 121px;
    }

    .benefits {
        gap: 24px;
    }

    .log {
        padding-right: 120px;
    }

    .benefits-punkts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: calc((100% - 24px) / 2);
        max-width: 356px;
    }

    .benefits-title {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.07em;
    }

    .team {
        padding: 0 0 96px 0;
    }

    .conteiner-team {
        display: flex;
        align-items: flex-start;
    }

    .team-list {
        display: flex;
        gap: 24px;
        /* row-gap: 64px; */
    }

    .team-cards {
        flex-direction: column;
        width: ((100% - 24px) / 2);
    }

    .costumers-conteiner {
    }

    .costumers-punkts {
        max-width: 168px;
        height: 88px;
    }

    .list-costumers {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        row-gap: 72px;
    }

    .footer {
       padding: 96px 0;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-all {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        width: 584px;
    }

    .input-subscribe {
        width: 264px;
    }

    .footer-text {
        margin-right: 24px;
    }

    .input-subscribe-conteiner  {
        flex-direction: row;
    }

    .conteiner-footer,
    .footer-social,
    .subscribe-conteiner {
        display: flex;
        align-items: flex-start;
    }

     .subscribe-conteiner {
        width: max-content;
    } 

    .sol {
         font-size: 56px;
         max-width: 496px;
         line-height: 1.07;
    }

    .order {
        margin-top: 36px;
    }

    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tablet.jpg);
    padding: 112px 136px;
    }

    @media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-tablet-2x.jpg);
    }
}

.modal {
    width: 408px;
}

}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .header {
        justify-content: space-between;
    }

    .header-nav {
        padding-right: 0;
    }

    .connect {
        gap: 40px;
        flex-direction: row;
    }

    .contacts {
        font-size: 16px;
    }

    .benefits-punkts {
        width: calc((100% - 72px) / 4);
        max-width: 264px;
    }

    /* .benefits-conteiner {
        padding: 120px 0;
    } */

    .feature {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .benefits-conteiner .benefits {
        padding: 0;
    }

    .benefits-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.04em;
    }

    .benefits-symboly {
        width: 264px;
        height: 112px;
        background-color: var(--c-cloud);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        /* margin-bottom: 8px; */
    }
    
    .benefits-text {
        font-weight: 400; 
    }

    .benefits {
        display: flex;
        align-items: flex-start; 
        gap: 24px;
        padding-left: 0;
    }
    
    .monitor {
        max-width: 100%;
        padding-bottom: 120px;
        display: flex;
    }

    .title-monitor {
        margin-bottom: 72px;
    }

    .team {
      padding: 120px 0;
    }

    .conteiner-team {
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 auto;
    }
    
    .conteiner-monitor {
        flex-direction: column;
        display: flex;
    }

    .team-list {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
    
    .list-monitor {
        width: calc((100% - 48px) / 3);
    }

    .costumers {
        padding: 120px 0;
    }

    .list-costumers {
        gap: 24px;
    }

    .footer-all {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        width: auto;
        /* margin: 0 auto; */
    }

    .footer-text {
        margin-right: 0;
    }

    .subscribe-conteiner {
        width: auto;
    }

    .footer-social {
        margin: 0 80px 0 0;
    }

    .input-subscribe {
        max-width: 264px;
        opacity: none;
    }

    .footer {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        padding: 100px 0;
    }

    .conteiner-footer {
        margin: 0 120px 0 0;
    }

    .order {
        margin-top: 48px;
    }

    .effec {
        padding-top: 188px 472px 292px;
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office.jpg);
    }

    @media (min-divice-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .effec {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
    url(../images/people-office-2x.jpg);
    }
}
.modal {
    width: 408px;
}
}